<div class="row">
    <div class="col-md-4">
        <p><a href="/move/detail?move_id=<%= move['id'] %>"><img width="250px" title="<%= move['name'] %>" alt="<%= move['name'] %>" src="<%= move['cover'] %>" /></a></p>
    </div>
    <div class="col-md-8">
        <p><h3><%= move['name'] %></h3></p>
        <p><h3></h3></p>
        <p>演员表：
            <% actors.forEach(function(item, index){ %>
            <a href="/actor/move_list?actor_id=<%= item['id'] %>" target="_blank"><%= item['actor_name'] %></a>
            <% }) %>
        </p>
        <p>集数:
            <% if(move['category_id'] == 2) { %>
                <%= move['sets'] %>
            <% } else { %>
                 全集
            <% } %>
        </p>
        <p>类型：<%= move['tag_id'] %></p> <p>年代：<%= move['year'] %></p> <p>地区：<%= move['area'] %> </p>
    </div>
    <div class="col-md-12">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#play_list" data-toggle="tab">
                    播放列表
                </a>
            </li>
            <li><a href="#description" data-toggle="tab">剧情介绍</a></li>
            <li><a href="#download_list" data-toggle="tab">下载列表</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="play_list">
                <div id="play_page">
                    <ul style="padding-top: 10px">
                        <li><div style="color: red"><p>小提示：视频加载需十秒左右，请耐心等待一会，如果播放器一直没反应，请刷新页面重新加载或者选择播放列表中另一个<b>播放地址</b>！</p></div>
                        </li>
                        <li>
                            <% result.forEach(function(array, i){ %>
                                <p>地址<%=i+1%>:<% if(array['player'] == "iframe") {  %> 在线播放 <% } else { %> <%= array['player'] %> <% } %></p>
                                <% array.list.forEach(function(item, index){ %>
                                    <% if(item['player'].indexOf("腾讯")>=0 && item['url'].indexOf("http") == 0) { %>
                                        <a href="<%= item['url'] %>" target="_blank"><%= move['name'] %></a>
                                    <% } else { %>
                                        <a href="/move/play?move_id=<%= item['move_id'] %>&id=<%= item['id'] %>&player=<%= item['player'] %>" target="_blank"><%= item['name'] %></a>
                                    <%}%>
                                <% }) %>
                            <% }) %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="description">
                <div id="content_page" style="padding-top: 10px">
                    <%- move['description'] %>
                </div>
            </div>
            <div class="tab-pane fade" id="download_list">
                <div id="download_page" style="padding-top: 10px">
                    <p>迅雷下载(下载链接复制到迅雷影音可边下边看)</p>
                    <ul>
                        <% downloads.forEach(function(item, index){ %>
                        <li>
                            <a href="<%= item['download_address'] %>" target="_blank"><%= item['name'] %></a>
                            <input type="text" value="<%= item['download_address'] %>" class="form-control" title="鼠标左键单击可全选后手动复制该条迅雷地址进行分享或其它操作" onclick="this.select()" style="width: 100%;">
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>