<!-- 相关视频-->
<section class="panel">
    <header class="panel-heading">
        <b>相关视频</b>
    </header>
    <div class="panel-body table-responsive">
        <div class="row">
            <% relation_list.data.forEach(function(item, index){ %>
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="thumbnail">
                    <a href="/move/detail?move_id=<%= item['id'] %>" class="sets_label">
                    <img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" />
                    <% if(item['category_id']==2){ %>
                        <!--<button class="hdtag"><%= item['sets'] %></button>-->
                    <% } else { %>

                    <% } %>
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                        </h3>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>

