<% include partials/header %>
<!--<link href="/css/bootstrap-combined.min.css" rel="stylesheet">-->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-1">
                <section class="panel">
                    <div class="panel-body table-responsive">
                        <% moves.data.forEach(function(item, index){ %>
                        <div class="col-md-2 col-sm-3 col-xs-4">
                            <div class="thumbnail">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <div id="pagination" class="pagination">
                        </div>
                    </div>
                </section>
            </div>
            <% include partials/tags_list %>
            <% include partials/area_list %>
        </div>
    </div>
</div>
<input type="hidden" id="area" name="area"/>
<% include partials/footer %>
<script src="/javascripts/bootstrap-paginator.min.js"></script>
<script type="application/javascript">
    $("#area").val("<%= area %>");
    var options = {
        currentPage:'<%= moves.current_page %>'||1, //设置当前页，默认起始页为第一页
        totalPages:'<%= moves.total_pages %>', //总页数
        numberOfPages:5, //设置控件显示的页码数,跟后台计算出来的总页数没多大关系
        //bootstrapMajorVersion:3,//如果是bootstrap3版本需要加此标识，并且设置包含分页内容的DOM元素为UL,如果是bootstrap2版本，则DOM包含元素是DIV
        useBootstrapTooltip:'true',//是否显示tip提示框
        shouldShowPage:true,
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "末页";
                case "page":
                    return page;
            }
        },
        pageUrl:function(type,page, current){
            return '?area='+$("#area").val()+'&current_page='+page //为每个页码设置url访问请求链接，page为页码数
        }
    }
    $('#pagination').bootstrapPaginator(options);
</script>

