<!--<div id="banner"></div>-->
<div class="container">
    <div class="row">
        <div class="col-md-9 order-md-1">
            <section class="panel">
                <header class="panel-heading">
                    推荐电影 (查看更多请搜索)
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% tops.data.forEach(function(item, index){ %>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="thumbnail">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    推荐电视剧<a href="/move?category_id=2">更多</a>
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% setsTop.data.forEach(function(item, index){ %>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="thumbnail">
                                <a href="/move/detail?move_id=<%= item['id'] %>" class="sets_label">
                                <img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" />
                                <button class="hdtag"><%= item['sets'] %></button>
                                </a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    最新电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% moves.forEach(function(item, index){ %>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="thumbnail">
                                <a href="/move/detail?move_id=<%= item['id'] %>" class="sets_label">
                                <img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" />
                                </a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    剧情电影<a href="/move/tags?tag_id=3&tag_name=剧情电影">更多</a>
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% juqing.forEach(function(item, index){ %>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="thumbnail">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    动作电影<a href="/move/tags?tag_id=1&tag_name=动作电影">更多</a>
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% dongzuo.forEach(function(item, index){ %>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="thumbnail">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    科幻电影<a href="/move/tags?tag_id=2&tag_name=科幻电影">更多</a>
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% kehuan.forEach(function(item, index){ %>
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <div class="thumbnail">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>
        </div>
        <% include partials/tags_list %>
        <% include partials/area_list %>
        <% include partials/today_list %>
        <% include partials/news_sets_list %>
        <% include partials/today_update_list.ejs %>
    </div>
</div>
