<div id="banner"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9 order-md-1">
            <section class="panel">
                <header class="panel-heading">
                    最新电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% moves.forEach(function(item, index){ %>
                        <div class="col-md-3 mb-4">
                            <div class="thumbnail" style="height: 340px;">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img style="height: 250px;" title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    剧情电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% juqing.forEach(function(item, index){ %>
                        <div class="col-md-3 mb-4">
                            <div class="thumbnail" style="height: 340px;">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img style="height: 250px;" title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    动作电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% dongzuo.forEach(function(item, index){ %>
                        <div class="col-md-3 mb-4">
                            <div class="thumbnail" style="height: 340px;">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img style="height: 250px;" title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    科幻电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="row">
                        <% kehuan.forEach(function(item, index){ %>
                        <div class="col-md-3 mb-4">
                            <div class="thumbnail" style="height: 340px;">
                                <a href="/move/detail?move_id=<%= item['id'] %>"><img style="height: 250px;" title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                <div class="caption">
                                    <h3>
                                        <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>
        </div>
        <% include partials/area_list %>
    </div>
</div>