<div id="banner"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <section class="panel">
                <header class="panel-heading">
                    最新电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="span12">
                        <ul class="thumbnails">
                            <% moves.forEach(function(item, index){ %>
                            <li class="span4">
                                <div class="thumbnail">
                                    <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                    <div class="caption">
                                        <h3>
                                            <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    剧情电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="span12">
                        <ul class="thumbnails">
                            <% juqing.forEach(function(item, index){ %>
                            <li class="span4">
                                <div class="thumbnail">
                                    <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                    <div class="caption">
                                        <h3>
                                            <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    动作电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="span12">
                        <ul class="thumbnails">
                            <% dongzuo.forEach(function(item, index){ %>
                            <li class="span4">
                                <div class="thumbnail">
                                    <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                    <div class="caption">
                                        <h3>
                                            <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    科幻电影
                </header>
                <div class="panel-body table-responsive">
                    <div class="span12">
                        <ul class="thumbnails">
                            <% kehuan.forEach(function(item, index){ %>
                            <li class="span4">
                                <div class="thumbnail">
                                    <a href="/move/detail?move_id=<%= item['id'] %>"><img title="<%= item['name'] %>" alt="<%= item['name'] %>" src="<%= item['cover'] %>" /></a>
                                    <div class="caption">
                                        <h3>
                                            <a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-3">
            <section class="panel">
                <header class="panel-heading">
                    Tags
                </header>
                <div class="slimScrollDiv">
                    <div class="panel-body" id="noti-box">
                        <url>
                            <li>剧情片</li>
                        </url>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>