<% include partials/header %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-1">
                <section class="panel">
                    <div class="panel-body table-responsive">
                        <div id = "detail">
                            <p><a href="/move/detail?move_id=<%= move['id'] %>"><img title="<%= move['name'] %>" alt="<%= move['name'] %>" src="<%= move['cover'] %>" /></a></p>
                            <p>电影：<%=move['name']%></p>
                            <p>演员表：
                                <% actors.forEach(function(item, index){ %>
                                <a href="/actor/detail?actor_id=<%= item['id'] %>" target="_blank"><%=item['actor_name']%></a>
                                <% }) %>
                            </p>
                            <p>类型：<%=move['tag_id']%> 年代：<%=move['year']%> 地区：<%=move['area']%> </p>
                        </div>
                        <br>
                        <div style="color: red">小提示：视频加载需十秒左右，请耐心等待一会，如果播放器一直没反应，请刷新页面重新加载或者选择播放列表中另一个<b>播放地址</b>！</div>
                        <br>
                        <div id = "">
                            <p>播放列表：</p>
                            <ul>
                                <% moveUrls.forEach(function(item, index){ %>
                                <li>
                                    <p>
                                        <% if(item['player'] == "iframe") { %> 在线播放 <% } else { %> <%= item['player'] %> <% } %>
                                    </p>
                                    <a href="/move/play?move_id=<%= item['move_id'] %>&id=<%= item['id'] %>&player=<%= item['player'] %>" target="_blank"><%=move['name']%> - <%=item['name']%></a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>

                        <br>
                        <div id = "">
                            <p>迅雷下载(下载链接复制到迅雷影音可边下边看)</p>
                            <p>下载列表：</p>
                            <ul>
                                <% downloads.forEach(function(item, index){ %>
                                <li>
                                    <a href="<%= item['download_address'] %>" target="_blank"><%=item['name']%></a>
                                    <input type="text" value="<%= item['download_address'] %>" class="form-control" title="鼠标左键单击可全选后手动复制该条迅雷地址进行分享或其它操作" onclick="this.select()" style="width: 100%;">
                                </li>
                                <% }) %>
                            </ul>
                        </div>

                        <br>
                        <div id="content">
                            <%-move['description']%>
                        </div>
                    </div>
                </section>
            </div>
            <% include partials/tags_list %>
            <% include partials/area_list %>
        </div>
    </div>
</div>
<% include partials/footer %>


