<% include ../partials/header %>
<link rel="stylesheet" href="/dplayer/DPlayer.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-1">
                <section class="panel">
                    <div class="panel-body table-responsive">
                        <h3><%=move['name']%>-<%=currentMoveUrls['player']%>-<%=currentMoveUrls['name']%></h3>
                       <div id="dplayer">

                        </div>
                        <% include ../partials/play_list %>
                        <% include ../partials/relation_list %>
                    </div>
                </section>
            </div>
            <% include ../partials/most_views_list %>
            <% include ../partials/tags_list %>
            <% include ../partials/area_list %>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<script type="text/javascript">
    window.addEventListener('resize',function(){document.getElementById('mse').style.height=window.innerHeight+'px';});
</script>
<script type="text/javascript" src="/player/xgplayer/index.js"></script>
<script type="text/javascript" src="/player/xgplayer/hls/index.js"></script>
<script type="text/javascript">
    new window.HlsJsPlayer({
        id: 'mse',
        url: '<%= currentMoveUrls["url"] %>',
        autoplay: true,
        playsinline: true,
        height: window.innerHeight,
        width: window.innerWidth
    });
</script>
<!--
<script type="text/javascript" src="/dplayer/flv.min.js"></script>
<script type="text/javascript" src="/dplayer/hls.min.js"></script>
<script type="text/javascript" src="/dplayer/DPlayer.min.js"></script>
<script type="text/javascript">
    const dp = new DPlayer({
        container: document.getElementById('dplayer'),
        autoplay:true,
        preload: 'auto',
        theme: '#FADFA3',
        loop: true,
        lang: 'zh-cn',
        video: {
            quality: [{
                name: 'HD',
                url: '<%= currentMoveUrls["url"] %>',
                pic: '<%= move["cover"] %>',
                type: 'auto'
            }],
            defaultQuality: 0
        }
    });
</script>
-->
